In [1]:
#imports
from utils.data import  DataLoader
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np

In [2]:
# this needs to be run once to create train and test csv-s
"""
dl = DataLoader("./config.json")
dl.load_csv_data(filename='bank-additional-full.csv', 
                 test_filename='bank-additional.csv')
train_data = dl.get_data(include_target_column = True)
test_data = dl.get_test_data(include_target_column = True)

train_data.to_csv("./data/train.csv", sep=';',index=False)
test_data.to_csv("./data/test.csv", sep=';',index=False)
"""

'\ndl = DataLoader("./config.json")\ndl.load_csv_data(filename=\'bank-additional-full.csv\', \n                 test_filename=\'bank-additional.csv\')\ntrain_data = dl.get_data(include_target_column = True)\ntest_data = dl.get_test_data(include_target_column = True)\n\ntrain_data.to_csv("./data/train.csv", sep=\';\',index=False)\ntest_data.to_csv("./data/test.csv", sep=\';\',index=False)\n'

In [3]:
dl = DataLoader("./config.json")
dl.load_csv_data(filename='train.csv', 
                 test_filename='test.csv')

loading test data from: C:\Users\dujem\PycharmProjects\bank-marketing\data\test.csv
loading data from: C:\Users\dujem\PycharmProjects\bank-marketing\data\train.csv
memory occupation before data type conversion: 27.52 MB
memory occupation after data type conversion: 26.1 MB
memory occupation before data type conversion: 3.03 MB
memory occupation after data type conversion: 2.87 MB

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994003,-36.400002,4.857,5191.000000,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994003,-36.400002,4.857,5191.000000,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994003,-36.400002,4.857,5191.000000,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994003,-36.400002,4.857,5191.000000,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994003,-36.400002,4.857,5191.000000,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37063,29,unemployed,single,basic.4y,no,yes,no,cellular,nov,fri,...,1,9,1,success,-1.1,94.766998,-50.799999,1.028,4963.600098,no
37064,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.766998,-50.799999,1.028,4963.600098,yes
37065,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.766998,-50.799999,1.028,4963.600098,no
37066,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.766998,-50.799999,1.028,4963.600098,yes
37067,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.766998,-50.799999,1.028,4963.600098,no

In [4]:
train_data = dl.get_data(include_target_column = True)
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37068 entries, 0 to 37067
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             37068 non-null  int32
 1   job             37068 non-null  object
 2   marital         37068 non-null  object
 3   education       37068 non-null  object
 4   default         37068 non-null  object
 5   housing         37068 non-null  object
 6   loan            37068 non-null  object
 7   contact         37068 non-null  object
 8   month           37068 non-null  object
 9   day_of_week     37068 non-null  object
 10  duration        37068 non-null  int32
 11  campaign        37068 non-null  int32
 12  pdays           37068 non-null  int32
 13  previous        37068 non-null  int32
 14  poutcome        37068 non-null  object
 15  emp.var.rate    37068 non-null  float32
 16  cons.price.idx  37068 non-null  float32
 17  cons.conf.idx   37068 non-null  float32
 18  euribor3m       37068 non-null  float32
 19  nr.employed     37068 non-null  float32
 20  y               37068 non-null  object
dtypes: float32(5), int32(5), object(11)
memory usage: 4.8+ MB

In [5]:
test_data = dl.get_test_data(include_target_column = True)
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4119 non-null   int32
 1   job             4119 non-null   object
 2   marital         4119 non-null   object
 3   education       4119 non-null   object
 4   default         4119 non-null   object
 5   housing         4119 non-null   object
 6   loan            4119 non-null   object
 7   contact         4119 non-null   object
 8   month           4119 non-null   object
 9   day_of_week     4119 non-null   object
 10  duration        4119 non-null   int32
 11  campaign        4119 non-null   int32
 12  pdays           4119 non-null   int32
 13  previous        4119 non-null   int32
 14  poutcome        4119 non-null   object
 15  emp.var.rate    4119 non-null   float32
 16  cons.price.idx  4119 non-null   float32
 17  cons.conf.idx   4119 non-null   float32
 18  euribor3m       4119 non-null   float32
 19  nr.employed     4119 non-null   float32
 20  y               4119 non-null   object
dtypes: float32(5), int32(5), object(11)
memory usage: 515.0+ KB

# converting to one-hot

## variables that need to be encoded:
### numerical: None
### categorical: marital, education, default, housing, loan, contact, poutcome
month -> one hot ili samo label encode ?

In [6]:
def encode_features(nominal_data, ordinal_data, numerical_data, ordinal_map): 
    encoded_ordinal_columns = ordinal_data.applymap(lambda s: ordinal_map.get(s) if s in ordinal_map else s)
    #encoded_ordinal_columns.head()
    
    # encode nominal categorical values
    encoded_nominal_df=None
    for column_name in nominal_data.columns:
        oh_columns = pd.get_dummies(nominal_data[column_name], prefix=column_name)
        if encoded_nominal_df is None:
            encoded_nominal_df = oh_columns
        else:
            encoded_nominal_df = pd.concat([encoded_nominal_df, oh_columns], axis=1)

    #encoded_nominal_df.head()
    
    pd.set_option('display.max_columns', None)
    df = pd.concat([numerical_data, encoded_nominal_df, encoded_ordinal_columns], axis=1)
    df.head()
    return df

In [7]:
nominal_columns_names = ['job', 'marital', 'education', 'default', 'housing', 'loan', 
                         'contact', 'poutcome'] # <- the target label is also added

ordinal_columns_names = ['month', 'day_of_week', 'y'] # add education also? How to encode moths?

#ordinal_columns.month.unique()
#ordinal_columns.day_of_week.unique()
# encode ordinal categorical values (month)

ordinal_map = {'jan':1, 'feb':2, 'mar':3, 'apr':4, 'may':5, 'jun':6, 'jul':7, 'aug':8, 
               'sep':9, 'oct':10, 'nov':11, 'dec':12,
               'yes':1, 'no':0,
               'mon':1, 'tue':2, 'wed':3, 'thu':4, 'fri':5}

In [8]:
train_nominal_data = train_data[nominal_columns_names]
train_ordinal_data = train_data[ordinal_columns_names]
train_numerical_data = dl.get_numeric_data(include_target_column=False)

Returning training data

In [9]:
test_nominal_data = test_data[nominal_columns_names]
test_ordinal_data = test_data[ordinal_columns_names]
test_numerical_data = dl.get_numeric_data(include_target_column=False, test_data=True)

Returning testing data

In [12]:
encoded_train_data = encode_features(train_nominal_data, train_ordinal_data, train_numerical_data, ordinal_map)
cols_at_end = ['y']
# sets y as the last column of the data frame
encoded_train_data = encoded_train_data[[c for c in encoded_train_data if c not in cols_at_end] + [c for c in cols_at_end if c in encoded_train_data]]
encoded_train_data.info()
#encoded_train_data.to_csv("./data/encoded\encoded_train_data_with_encoded_y.csv", sep=';',index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37068 entries, 0 to 37067
Data columns (total 51 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            37068 non-null  int32
 1   campaign                       37068 non-null  int32
 2   duration                       37068 non-null  int32
 3   pdays                          37068 non-null  int32
 4   previous                       37068 non-null  int32
 5   emp.var.rate                   37068 non-null  float32
 6   cons.price.idx                 37068 non-null  float32
 7   cons.conf.idx                  37068 non-null  float32
 8   euribor3m                      37068 non-null  float32
 9   nr.employed                    37068 non-null  float32
 10  job_admin.                     37068 non-null  uint8
 11  job_blue-collar                37068 non-null  uint8
 12  job_entrepreneur               37068 non-null  uint8
 13  job_housemaid                  37068 non-null  uint8
 14  job_management                 37068 non-null  uint8
 15  job_retired                    37068 non-null  uint8
 16  job_self-employed              37068 non-null  uint8
 17  job_services                   37068 non-null  uint8
 18  job_student                    37068 non-null  uint8
 19  job_technician                 37068 non-null  uint8
 20  job_unemployed                 37068 non-null  uint8
 21  job_unknown                    37068 non-null  uint8
 22  marital_divorced               37068 non-null  uint8
 23  marital_married                37068 non-null  uint8
 24  marital_single                 37068 non-null  uint8
 25  marital_unknown                37068 non-null  uint8
 26  education_basic.4y             37068 non-null  uint8
 27  education_basic.6y             37068 non-null  uint8
 28  education_basic.9y             37068 non-null  uint8
 29  education_high.school          37068 non-null  uint8
 30  education_illiterate           37068 non-null  uint8
 31  education_professional.course  37068 non-null  uint8
 32  education_university.degree    37068 non-null  uint8
 33  education_unknown              37068 non-null  uint8
 34  default_no                     37068 non-null  uint8
 35  default_unknown                37068 non-null  uint8
 36  default_yes                    37068 non-null  uint8
 37  housing_no                     37068 non-null  uint8
 38  housing_unknown                37068 non-null  uint8
 39  housing_yes                    37068 non-null  uint8
 40  loan_no                        37068 non-null  uint8
 41  loan_unknown                   37068 non-null  uint8
 42  loan_yes                       37068 non-null  uint8
 43  contact_cellular               37068 non-null  uint8
 44  contact_telephone              37068 non-null  uint8
 45  poutcome_failure               37068 non-null  uint8
 46  poutcome_nonexistent           37068 non-null  uint8
 47  poutcome_success               37068 non-null  uint8
 48  month                          37068 non-null  int64
 49  day_of_week                    37068 non-null  int64
 50  y                              37068 non-null  int64
dtypes: float32(5), int32(5), int64(3), uint8(38)
memory usage: 3.9 MB

# Save data now if you don 't want to reduce the number of features

In [16]:
all_features = ['nr.employed', 'duration', 'pdays', 'poutcome_success', 'euribor3m',
 'cons.conf.idx', 'emp.var.rate', 'poutcome_nonexistent', 'month',
 'cons.price.idx', 'poutcome_failure', 'contact_telephone',
 'contact_cellular', 'default_no', 'previous', 'job_retired',
 'default_unknown', 'day_of_week', 'age', 'education_university.degree',
 'campaign', 'job_self-employed', 'marital_single', 'education_basic.4y',
 'education_professional.course', 'education_high.school', 'job_unknown',
 'job_technician', 'loan_no', 'loan_yes', 'job_housemaid', 'job_blue-collar',
 'marital_divorced', 'education_unknown', 'job_entrepreneur',
 'education_basic.9y', 'job_admin.', 'housing_yes', 'housing_no',
 'education_basic.6y', 'job_services', 'marital_married', 'housing_unknown',
 'job_management', 'job_student', 'job_unemployed', 'marital_unknown',
 'default_yes', 'loan_unknown', 'education_illiterate', 'y']

picked_features = ['nr.employed', 'pdays', 'poutcome_success', 'euribor3m',
 'cons.conf.idx', 'emp.var.rate', 'poutcome_nonexistent', 'month',
 'cons.price.idx', 'poutcome_failure', 'contact_telephone',
 'contact_cellular', 'default_no', 'previous', 'job_retired',
 'default_unknown', 'day_of_week', 'age', 'education_university.degree',
 'campaign', 'job_self-employed', 'marital_single', 'education_basic.4y',
 'education_professional.course', 'y']

print(len(picked_features))
filtered_data = encoded_train_data[picked_features]

25
<class 'pandas.core.frame.DataFrame'>
Int64Index: 37068 entries, 0 to 37067
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   nr.employed                    37068 non-null  float32
 1   pdays                          37068 non-null  int32
 2   poutcome_success               37068 non-null  uint8
 3   euribor3m                      37068 non-null  float32
 4   cons.conf.idx                  37068 non-null  float32
 5   emp.var.rate                   37068 non-null  float32
 6   poutcome_nonexistent           37068 non-null  uint8
 7   month                          37068 non-null  int64
 8   cons.price.idx                 37068 non-null  float32
 9   poutcome_failure               37068 non-null  uint8
 10  contact_telephone              37068 non-null  uint8
 11  contact_cellular               37068 non-null  uint8
 12  default_no                     37068 non-null  uint8
 13  previous                       37068 non-null  int32
 14  job_retired                    37068 non-null  uint8
 15  default_unknown                37068 non-null  uint8
 16  day_of_week                    37068 non-null  int64
 17  age                            37068 non-null  int32
 18  education_university.degree    37068 non-null  uint8
 19  campaign                       37068 non-null  int32
 20  job_self-employed              37068 non-null  uint8
 21  marital_single                 37068 non-null  uint8
 22  education_basic.4y             37068 non-null  uint8
 23  education_professional.course  37068 non-null  uint8
 24  y                              37068 non-null  int64
dtypes: float32(5), int32(4), int64(3), uint8(13)
memory usage: 2.9 MB

In [17]:
filtered_data.to_csv("./data/encoded/encoded_filtered_train_data_with_encoded_y.csv", sep=';',index=False)

In [18]:
encoded_test_data = encode_features(test_nominal_data, test_ordinal_data, test_numerical_data, ordinal_map)
cols_at_end = ['y']
# sets y as the last column of the data frame
encoded_test_data = encoded_test_data[[c for c in encoded_test_data if c not in cols_at_end] + [c for c in cols_at_end if c in encoded_test_data]]
encoded_test_data.info()
#encoded_test_data.to_csv("./data/encoded\encoded_test_data_with_encoded_y.csv", sep=';',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 51 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            4119 non-null   int32
 1   campaign                       4119 non-null   int32
 2   duration                       4119 non-null   int32
 3   pdays                          4119 non-null   int32
 4   previous                       4119 non-null   int32
 5   emp.var.rate                   4119 non-null   float32
 6   cons.price.idx                 4119 non-null   float32
 7   cons.conf.idx                  4119 non-null   float32
 8   euribor3m                      4119 non-null   float32
 9   nr.employed                    4119 non-null   float32
 10  job_admin.                     4119 non-null   uint8
 11  job_blue-collar                4119 non-null   uint8
 12  job_entrepreneur               4119 non-null   uint8
 13  job_housemaid                  4119 non-null   uint8
 14  job_management                 4119 non-null   uint8
 15  job_retired                    4119 non-null   uint8
 16  job_self-employed              4119 non-null   uint8
 17  job_services                   4119 non-null   uint8
 18  job_student                    4119 non-null   uint8
 19  job_technician                 4119 non-null   uint8
 20  job_unemployed                 4119 non-null   uint8
 21  job_unknown                    4119 non-null   uint8
 22  marital_divorced               4119 non-null   uint8
 23  marital_married                4119 non-null   uint8
 24  marital_single                 4119 non-null   uint8
 25  marital_unknown                4119 non-null   uint8
 26  education_basic.4y             4119 non-null   uint8
 27  education_basic.6y             4119 non-null   uint8
 28  education_basic.9y             4119 non-null   uint8
 29  education_high.school          4119 non-null   uint8
 30  education_illiterate           4119 non-null   uint8
 31  education_professional.course  4119 non-null   uint8
 32  education_university.degree    4119 non-null   uint8
 33  education_unknown              4119 non-null   uint8
 34  default_no                     4119 non-null   uint8
 35  default_unknown                4119 non-null   uint8
 36  default_yes                    4119 non-null   uint8
 37  housing_no                     4119 non-null   uint8
 38  housing_unknown                4119 non-null   uint8
 39  housing_yes                    4119 non-null   uint8
 40  loan_no                        4119 non-null   uint8
 41  loan_unknown                   4119 non-null   uint8
 42  loan_yes                       4119 non-null   uint8
 43  contact_cellular               4119 non-null   uint8
 44  contact_telephone              4119 non-null   uint8
 45  poutcome_failure               4119 non-null   uint8
 46  poutcome_nonexistent           4119 non-null   uint8
 47  poutcome_success               4119 non-null   uint8
 48  month                          4119 non-null   int64
 49  day_of_week                    4119 non-null   int64
 50  y                              4119 non-null   int64
dtypes: float32(5), int32(5), int64(3), uint8(38)
memory usage: 410.4 KB

In [19]:
print(len(picked_features))
filtered_data = encoded_train_data[picked_features]
filtered_data.to_csv("./data/encoded/encoded_filtered_test_data_with_encoded_y.csv", sep=';',index=False)

25